/* start variable */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --section-color: #ececec;
    --trans-duration: 0.3s;
    --padding-section: 50px;
}

/* end variable */
/* start component */
.special-heading {
    font-size: 25px;
    padding: 15px 30px;
    border: 2px solid black;
    width: fit-content;
    margin: 30px auto;
    margin-bottom: 75px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.special-heading:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.special-heading::before,
.special-heading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: var(--main-color);
    border-radius: 50%;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.special-heading::after {
    left: -30px;
}

.special-heading::before {
    right: -30px;
}

.special-heading:hover::after {
    animation: anim-left 0.5s linear forwards;
    -webkit-animation: anim-left 0.5s linear forwards;
}

.special-heading:hover::before {
    animation: anim-right 0.5s linear forwards;
    -webkit-animation: anim-right 0.5s linear forwards;
}

@keyframes anim-left {
    50% {
        left: 0;
        height: 12px;
        width: 12px;
    }

    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@keyframes anim-right {
    50% {
        right: 0;
        height: 12px;
        width: 12px;
    }

    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

.spikes {
    position: relative;
}

.spikes::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    /* background: red; */
    left: 0;
    top: 100%;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    /* z-index: 1; */
}

/* end component */
/* Global Roles */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Cairo", sans-serif;
    /* background-color: #ececec; */
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Roles */
/* start header  */
.header {
    background: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.header .container .logo {
    font-size: 22px;
    font-weight: 800;
    color: var(--main-color);
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container>.links {
    /* margin-right: 80px; */
    display: flex;
}

.header .container>.links>li>a {
    text-decoration: none;
    display: inline-block;
    /* padding: 15px 10px; */
    height: 49px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);

}

.header .container>.links>li>a::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: var(--main-color-alt);
    top: 0;
    left: 0;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.header .container>.links>li>a:hover::before {
    width: 100%;
}

/* edi005 */
.header .container>.links>li>a:hover {
    color: var(--main-color-alt);
    background-color: #fafafa;
}

@media (max-width: 767px) {
    .header .container {
        flex-direction: column;
    }

    .header .container .links>li>a {
        padding: 10px;
    }
}

/* --- start mega --- */
.header .container>.links>li .mega-menue {
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    display: flex;
    gap: 20px;
    background: white;
    width: 100%;
    /* display: none; */
    border-bottom: 5px solid var(--main-color);
    padding: 20px;
    z-index: 100;
    transition: top var(--trans-duration), opacity var(--trans-duration);
    -webkit-transition: top var(--trans-duration), opacity var(--trans-duration);
    -moz-transition: top var(--trans-duration), opacity var(--trans-duration);
    -ms-transition: top var(--trans-duration), opacity var(--trans-duration);
    -o-transition: top var(--trans-duration), opacity var(--trans-duration);
    z-index: -1;
    opacity: 0;
}

.header .container>.links>li>.mega-menue>.image img {
    max-width: 100%;
}

.header .container>.links>li>.mega-menue>.links {
    flex: 1;
}

.header .container>.links>li>.mega-menue>.links>li>a {
    display: block;
    padding: 14px 10px;
    text-decoration: none;
    color: var(--main-color);
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #e9e6e6;
    /* margin-right: 24px; */
}

.header .container>.links>li>.mega-menue>.links>li:last-child>a {
    border-bottom: none;
}

.header .container>.links>li>.mega-menue>.links>li {
    position: relative;
    overflow: hidden;
}

.header .container>.links>li>.mega-menue>.links>li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    transition: all var(--trans-duration);
    -webkit-transition: all var(--trans-duration);
    -moz-transition: all var(--trans-duration);
    -ms-transition: all var(--trans-duration);
    -o-transition: all var(--trans-duration);
    z-index: -1;

}

.header .container>.links>li>.mega-menue>.links>li a:hover::before {
    display: block;
    left: 0;
}

.header .container>.links>li>.mega-menue>.links>li>a i {
    padding-right: 15px;
}


@media (max-width: 991px) {
    .header .container>.links>li>.mega-menue .image {
        display: none;
    }
}

@media (max-width: 767px) {
    .header .container>.links>li:last-child>.mega-menue {
        flex-direction: column;
        gap: 0;
    }

    .header .container>.links>li>.mega-menue>ul:first-of-type>li:last-child>a {
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .container>.links>li:hover .mega-menue {
    opacity: 1;
    z-index: 99;
    top: calc(100% + 1px);
}

/* end header  */
/* start landing */
.landing {
    /* height: calc(100vh - 49px); */
    position: relative;
    overflow: hidden;
}

.landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ececec;
    width: 100%;
    height: 100%;
    transform: skewY(-7deg);
    transform-origin: top left;
    z-index: -1;
}

.landing .container {
    display: flex;
    height: calc(100vh - 49px);
}

.landing .container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* z-index: -1; */
}

.landing .container .text h1 {
    margin: 0;
    letter-spacing: -2px;
}

.landing .container .text p {
    color: #666;
    line-height: 1.8;
    font-size: 22px;
}

.landing .container .image {
    /* z-index: -1; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .container .image img {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    animation-name: land-anim;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes land-anim {
    from {
        top: 30px;
    }

    to {
        top: -30px;
    }
}

.landing>a>i {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

@media (max-width: 991px) {

    .landing .container .image img {
        display: none;
    }


    .landing .container .text {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .landing .container {
        height: calc(100vh - 98px);
    }
}


/* end landing */

/* start article */
.articles {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.articles .container .articles-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.articles .container .articles-content .article {
    /*box-shadow: 0 0 10px #e9e6e6;
    */
    box-shadow: 0 2px 12px rgb(0 0 0 / 10%);
    border-radius: 6px;
    transition: transform var(--trans-duration), box-shadow var(--trans-duration);
    -webkit-transition: transform var(--trans-duration), box-shadow var(--trans-duration);
    -moz-transition: transform var(--trans-duration), box-shadow var(--trans-duration);
    -ms-transition: transform var(--trans-duration), box-shadow var(--trans-duration);
    -o-transition: transform var(--trans-duration), box-shadow var(--trans-duration);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
}

.articles .container .articles-content .article:hover {
    position: relative;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 2px 12px rgb(0 0 0 / 20%);

}

.articles .container .articles-content .article img {
    width: 100%;
}

.articles .container .articles-content .article .text {
    padding: 25px 15px;
    border-bottom: 1px solid #e9e6e6;
}

.articles .container .articles-content .article .text h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.articles .container .articles-content .article .text p {
    line-height: 1.7;
    color: #777;
}

.articles .container .articles-content .article .row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
}

.articles .container .articles-content .article:hover .row i {
    animation: arrow-right 0.5s linear infinite;
    -webkit-animation: arrow-right 0.5s linear infinite;
}

.articles .container .articles-content .article:hover .row a {
    cursor: pointer;
}

@keyframes arrow-right {
    to {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

/* end article */
/* start gallary */
.gallary {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-color);
}

.gallary .gallary-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.gallary .gallary-content .box {
    background: white;
    padding: 15px;
    /* overflow: hidden; */
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
        0 2px 4px 0 rgb(0 0 0 / 12%);
}

.gallary .gallary-content .box .image {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.gallary .gallary-content .box .image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: #ddd4d44b;
    width: 10px;
    height: 10px;
    opacity: 0;
    z-index: 10;
}

.gallary .gallary-content .box:hover .image::before {
    animation: flashing 0.7s;
    -webkit-animation: flashing 0.7s;
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallary .gallary-content .box img {
    max-width: 100%;
    transition: transform var(--trans-duration);
    -webkit-transition: transform var(--trans-duration);
    -moz-transition: transform var(--trans-duration);
    -ms-transition: transform var(--trans-duration);
    -o-transition: transform var(--trans-duration);
}

.gallary .gallary-content .box:hover img {
    transform: rotate(3deg) scale(1.2);
    -webkit-transform: rotate(3deg) scale(1.2);
    -moz-transform: rotate(3deg) scale(1.2);
    -ms-transform: rotate(3deg) scale(1.2);
    -o-transform: rotate(3deg) scale(1.2);
}

/* end gallary */
/* start feature */
.feature {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.feature .feature-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.feature .feature-content .box .img-holder {
    position: relative;
    overflow: hidden;
}

.feature .feature-content .box img {
    max-width: 100%;
}

.feature .feature-content .box .img-holder::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0000001a;
    z-index: 2;
}

.feature .feature-content .box:first-child .img-holder::before {
    background-color: #f43f3660;
}

.feature .feature-content .box:nth-child(2) .img-holder::before {
    background-color: #0096875e;

}

.feature .feature-content .box {
    border: 1px solid #ccc;
}

.feature .feature-content .box .img-holder::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 400px;
    border-color: transparent transparent white transparent;
    z-index: 3;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.feature .feature-content .box:hover .img-holder::after {
    border-width: 0px 400px 170px 0px;
}

.feature .feature-content .box:last-child .img-holder::before {
    background-color: #03a8f45d;
}

.feature .feature-content .box h2 {
    margin: 15px auto;
    width: fit-content;
    font-size: 35px;
    position: relative;
    padding-bottom: 12px;
}

.feature .feature-content .box h2::before {
    content: '';
    position: absolute;
    top: 100%;
    width: calc(100% - 30px);
    height: 5px;
    /* color: red; */
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.feature .feature-content .box:first-child h2::before {
    background-color: #f44036;
}

.feature .feature-content .box:nth-child(2) h2::before {
    background-color: #009688;
}

.feature .feature-content .box:last-child h2::before {
    background-color: #03a9f4;
}

.feature .feature-content .box>p {
    padding: 15px;
    line-height: 2;
    color: #009688;
    font-size: 18px;
    text-align: center;
}

.feature .feature-content .box .more {
    display: block;
    width: fit-content;
    margin: 15px auto;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: var(--main-color);
    padding: 10px 25px;
    border: 3px solid;
    border-radius: 6px;
    /* position: relative; */
    transition: var(--trans-duration);
    /* overflow: hidden; */
}

.feature .feature-content .box:first-child .more {
    border-color: #f44036;
    color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.feature .feature-content .box:first-child:hover .more {
    background-position: left bottom;
}

.feature .feature-content .box:nth-child(2) .more {
    border-color: #009688;
    color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right;
}

.feature .feature-content .box:nth-child(2):hover .more {
    background-position: left;
}

.feature .feature-content .box:last-child .more {
    border-color: #03a9f4;
    color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right;
}

.feature .feature-content .box:last-child:hover .more {
    background-position: left;
}

/* .feature .feature-content .box .more::before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
    z-index: -1;
} */

/* .feature .feature-content .box:hover>.more::before {
    left: 0;
} */

.feature .feature-content .box:hover>.more {
    color: white;
    /* border: white; */
}

.feature .feature-content .box:first-child .more::before {
    background-color: #f44036;
}

.feature .feature-content .box:nth-child(2) .more::before {
    background-color: #009688;
}

.feature .feature-content .box:last-child .more::before {
    background-color: #03a9f4;
}

/* end feature */
/* start testimonials */
.testimonials {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-color);
}

.testimonials .testi-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.testimonials .testi-content .box {
    position: relative;
    background-color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 25px;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
        0 2px 4px 0 rgb(0 0 0 / 12%);
}

.testimonials .testi-content .box .image {
    width: 70px;
    border-radius: 50%;
    padding: 9px;
    background: var(--section-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: -40px;
}

.testimonials .testi-content .box .image img {
    max-width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonials .testi-content .box .rate .done {
    color: gold;
}

.testimonials .testi-content .box .rate .no-done {
    color: black;
}

.testimonials .testi-content .box>p:first-of-type {
    padding: 10px 0;
    font-size: 14px;
    color: #999;
}

.testimonials .testi-content .box>p:last-of-type {
    font-size: 14px;
    line-height: 1.9;
    color: #444;
    padding-top: 5px;
}

/* end testimonials */
/* start team */
.team {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
}

.team .team-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.team .team-content .box {
    position: relative;
    /* padding: 35px 15px; */
    padding-top: 60px;
}

.team .team-content .box::before {
    content: "";
    position: absolute;
    width: calc(100% - 60px);
    height: 100%;
    right: 0;
    top: 0;
    background-color: #fafafa;
    border-radius: 8px;
    z-index: -2;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-image: linear-gradient(to right, #fafafa 50%, #e4e4e4 50%);
    background-size: calc(200%);
    background-position: left bottom;
    transition: 0.3s;
    -webkit-transition: var(--trans-duration);
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.team .team-content .box:hover::before {
    background-position: right bottom;
}

.team .team-content .box .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.team .team-content .box img {
    width: calc(100% - 60px);
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
    /*addes*/
    border-radius: 10px;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

.team .team-content .box:hover img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);

}

.team .team-content .box .row .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 60px;
}

.team .team-content .box .row .links i {
    color: #777;
}

.team .team-content .box .row .links i:hover {
    color: var(--main-color);
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.team .team-content .box .info {
    margin-left: 80px;
    margin-top: 20px;
}

.team .team-content .box .info h3 {
    color: var(--main-color);
    margin-bottom: 15px;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
    margin: 0;
}

.team .team-content .box:hover .info h3 {
    color: #777;
}

.team .team-content .box .info p {
    padding: 20px 0;
}

/* lend team */
/* start services */
.services {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-color);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.services .services-content .box {
    background-color: white;
    counter-increment: num;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
    position: relative;
}

.services .services-content .box:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.services .services-content .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--main-color);
    transition: var(--trans-duration);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.services .services-content .box:hover::before {
    width: 100%;
}

.services .services-content .box .data {
    text-align: center;
    padding: 25px;
    color: #777;
}

.services .services-content .box .data i {
    /* display: block;
padding-bottom: 10px; */
}

.services .services-content .box .data h2 {
    padding: 20px 0;
    color: var(--main-color);

}

.services .services-content .box .tail {
    background-color: rgb(249, 249, 249);
    padding: 15px;
    text-align: end;
    position: relative;

}

.services .services-content .box .tail .details {
    text-decoration: none;
    color: var(--main-color);
}

.services .services-content .box .tail::before {
    content: "0" counter(num);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 100%;
    background: var(--main-color);
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    z-index: 1;
    padding-right: 40px;
}

.services .services-content .box .tail::after {
    content: "";
    background-color: rgb(213, 213, 213);
    width: 50px;
    position: absolute;
    height: 100%;
    left: 80px;
    top: 0;
    z-index: 1;
    transform: skewX(-32deg);
}

/* end services */
/* start our skills */
.our-skills {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
}

.our-skills .skills-content {
    display: flex;
    gap: 30px;
}

.our-skills .skills-content img {
    max-width: 100%;
}

.our-skills .skills-content .progresses {
    flex: 1;
}

.our-skills .skills-content .progresses h3 {}

.our-skills .skills-content .progresses .prog {
    height: 30px;
    background: rgb(238, 238, 238);
    width: 100%;
    margin: 15px 0;
    position: relative;
}

.our-skills .skills-content .progresses .prog span {
    height: 100%;
    display: block;
    background: var(--main-color);
    position: relative;
}

.our-skills .skills-content .progresses .prog span::before {
    position: absolute;
    content: attr(prog);
    left: calc(100% - 17px);
    top: -35px;
    padding: 3px;
    border: 1px solid var(--main-color-alt);
    font-size: 11px;
    border-radius: 4px;
}

@media (max-width: 991px) {
    .our-skills .skills-content img {
        display: none;
    }
}

/* end our skills */
/* start how it works */
.how-works {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-color);
}

.how-works .works-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.how-works .works-content img {
    max-width: 100%;
}

.how-works .works-content .column {
    flex: 1;
}

.how-works .works-content .column .box {
    display: flex;
    gap: 15px;
    padding: 30px;
    background: #f6f5f5;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 1px white solid;
    z-index: 1;
    position: relative;
}

.how-works .works-content .column .box::before {
    content: '';
    position: absolute;
    background-color: #ededed;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: -1;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.how-works .works-content .column .box:hover::before {
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}

.how-works .works-content .column .box img {
    max-width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-works .works-content .column .box .text h3 {
    margin-bottom: 14px;
}

.how-works .works-content .column .box .text p {
    color: #777;
    line-height: 1.8;
}

@media (max-width: 991px) {
    .how-works .works-content img {
        display: none;
    }

    .how-works .works-content .column .box {
        flex-direction: column;
        text-align: center;
    }
}

/* end how it works */

/* start events */
.events {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
}

.events .events-content {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: start;

}

.events .events-content img {
    max-width: 450px;
}

.events .events-content .reminder {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
}

.events .events-content .reminder .card {
    border: 1px solid #777;
    padding: 15px;
    width: 85px;
    border-radius: 13px;
    text-align: center;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.events .events-content .reminder .card:hover {
    border-color: var(--main-color);
}

.events .events-content .reminder .card h1 {
    color: var(--main-color);
    position: relative;
}

.events .events-content .reminder .card h1::before {
    content: '';
    position: absolute;
    top: calc(100% + 15px);
    left: -15px;
    height: 1px;
    width: calc(100% + 30px);
    background-color: #777;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.events .events-content .reminder .card:hover h1::before {
    background-color: var(--main-color);
}

.events .events-content .reminder .card p {
    text-align: center;
}

.events .events-content .column>h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.events .events-content .column>p {
    line-height: 1.8;
    color: #777;
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}

.events form {
    width: 600px;
    background-color: rgb(246, 245, 245);
    padding: 25px;
    text-align: center;
    /* width: fit-content; */
    text-align: center;
    margin: 0 auto;
    border-radius: 65px
}

.events form input[type="email"]::placeholder {
    transition: opacity var(--trans-duration);
    -webkit-transition: opacity var(--trans-duration);
    -moz-transition: opacity var(--trans-duration);
    -ms-transition: opacity var(--trans-duration);
    -o-transition: opacity var(--trans-duration);
}

.events form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events form input[type="email"] {
    /*background-color: rgb(246, 245, 245);
    */
    background-color: white;
    padding: 15px;
    /*text-align: center;
    */
    width: fit-content;
    margin: 0 auto;
    border-radius: 65px;
    border: 1px solid #777;
    width: 70%;
    border: none;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.events form input[type="email"]:focus {
    outline: none;
}

.events form input[type="submit"] {
    background: var(--main-color);
    border: none;
    padding: 15px;
    border-radius: 50px;
    margin-left: 12px;
    color: white;
    font-weight: bold;
}

@media (max-width: 991px) {
    .events .events-content img {
        display: none;
    }
}

@media (max-width: 767px) {
    .events .events-content .reminder .card {
        padding: 8px;
        width: 75px;
    }

    .events .events-content .reminder .card h1::before {
        top: calc(100% + 8px);
        left: -8px;
        width: calc(100% + 16px);
    }

    .events .events-content .reminder {
        gap: 5px;
    }

    .events form {
        width: auto;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .events form input[type="email"] {
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        margin-bottom: 20px;
    }

    .events form input[type="submit"] {
        margin: 0;
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

/* end events */
/* start pricing */
.pricing {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-color);
    position: relative;
}

.pricing .pricing-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .pricing-content .box {
    background-color: white;
    padding: 20px 0;
    /* text-align: center; */
    position: relative;
    z-index: 1;
    box-shadow: 0 12px 20px rgb(0 0 0 / 13%),
        0 2px 4px 0 rgb(0 0 0 / 12%);
}

.pricing .pricing-content .box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 0;
    background: rgb(249, 249, 249);
    z-index: -1;
    transition: var(--trans-duration);
}

.pricing .pricing-content .box:hover::before {
    width: 100%;
}

.pricing .pricing-content .box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 0;
    background: rgb(249, 249, 249);
    z-index: -1;
    transition: var(--trans-duration);
}

.pricing .pricing-content .box:hover::after {
    width: 100%;
}

.pricing .pricing-content .box:nth-child(2) {
    position: relative;
}

@media (min-width: 1200px) {
    .pricing .pricing-content .box:nth-child(2) {
        top: -20px;
    }
}

.pricing .pricing-content .box:nth-child(2) span {
    color: white;
    background: var(--main-color-alt);
    padding: 30px 12px;
    font-weight: bold;
    top: 0px;
    display: inline-block;
    writing-mode: vertical-lr;
    position: absolute;
    right: 20px;
    top: 0;
}

.pricing .pricing-content .box:nth-child(2) span::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 21px;
    left: 0;
    bottom: 0px;
}

.pricing .pricing-content .box h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 0px;
    z-index: 5;
}

.pricing .pricing-content .box img {
    max-width: 80px;
    /* text-align: center; */
    margin: 0 auto 20px;
    display: block;
    z-index: 5;
}

.pricing .pricing-content .box:not(:nth-child(2)) h2 {
    margin-bottom: 40px;
}

.pricing .pricing-content .box .value h1 {
    margin: 0;
    text-align: center;
    font-size: 60px;
    color: var(--main-color);
}

.pricing .pricing-content .box .value p {
    text-align: center;
    color: #777;
    font-size: 14px;
}

.pricing .pricing-content .box ul {
    padding: 20px 0;
}

.pricing .pricing-content .box ul li {
    font-size: 16px;
    border-top: 1px solid #e9e6e6;
    padding: 20px 40px;
    position: relative;
}

.pricing .pricing-content .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    font-weight: 800;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-color);
}

.pricing .pricing-content .box .choose-pln-btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
    /*background: var(--main-color);
    */
    color: var(--main-color);
    padding: 13px 12px;
    font-weight: bold;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.pricing .pricing-content .box .choose-pln-btn:hover {
    background-color: var(--main-color);
    color: white;
}

/* end pricing */
/* start video */
.video {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.video .video-content {
    display: flex;
    /* gap: 10px; */
    background-color: #e2e2e2;
}

.video .video-content .right {
    flex-basis: 40%;
    margin: 1px;
}

.video .video-content .right .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    padding: 20px;
}

.video .video-content .right .title h2 {
    font-size: 16px;
}

.video .video-content .right ul {
    background-color: white;
}

.video .video-content .right ul li {
    padding: 20px;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.video .video-content .right ul li:hover {
    background-color: #fafafa;
}

.video .video-content .right ul li:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
}

.video .video-content .right ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding-bottom: 5px;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.video .video-content .right ul li:hover a {
    color: var(--main-color);
}

.video .video-content .right ul li span {
    color: #777;
}

.video .video-content .left {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video .video-content .left img {
    max-width: 100%;
}

.video .video-content .left p {
    background: white;
    padding: 20px;
}

@media (max-width: 991px) {
    .video .video-content {
        flex-direction: column;
    }

    .video .video-content .left p {
        margin-top: 10px;
    }
}

/* end video */
/* start stats */
.stats {
    background-image: url('../imgs/stats.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    /* z-index: -1; */
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.stats .container {
    position: relative;
}

.stats .container>h1 {
    text-align: center;
    margin-bottom: 50px;

}

.stats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 90%);
}

.stats .state-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.stats .state-content .box {
    background: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

.stats .state-content .box::before,
.stats .state-content .box::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 0;
    background: var(--main-color);
    transition: calc(var(--trans-duration) * 3);
    -webkit-transition: calc(var(--trans-duration) * 3);
    -moz-transition: calc(var(--trans-duration) * 3);
    -ms-transition: calc(var(--trans-duration) * 3);
    -o-transition: calc(var(--trans-duration) * 3);
}

.stats .state-content .box::before {
    left: 0;
    top: 0;
}

.stats .state-content .box::after {
    right: 0;
    bottom: 0;
}

.stats .state-content .box:hover::before,
.stats .state-content .box:hover::after {
    height: 100%;
}

.stats .state-content .box span {
    font-size: 50px;
    display: block;
    font-weight: bold;
    margin: 12px;
}

.stats .state-content .box p {
    color: var(--main-color);
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

/* end stats */
/* start discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .left {
    background-image: url('../imgs/discount-background1.jpg');
    background-size: cover;
    color: white;
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: change-background 3s linear;
    -webkit-animation: change-background 5s linear infinite alternate-reverse;
}

.discount .left::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(28 137 223 / 0.90);
    z-index: -1;
}

.discount .content h1 {
    text-align: center;
    letter-spacing: -2px;
    font-size: 40px;
}

.discount .content p {
    max-width: 400px;
    margin: auto;
    text-align: center;
    line-height: 1.6;
}

.discount .content img {
    width: 300px;
    max-width: 100%;
    display: block;
    margin: auto;
}

.discount .right {
    flex-basis: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
}


.discount .right .form form {
    width: 100%;
}

*:focus {
    outline: none;
}

.discount .right .form form input:not(:last-child),
.discount .right .form form textarea {
    display: block;
    margin: auto;
    padding: 10px 20px;
    width: 100%;
    margin: 20px auto;
    border: navajowhite;
    background: #f9f6f6;
    border-bottom: 1px solid #aaa;
}

.discount .right .form form textarea {
    height: 200px;
    resize: none;
}

.discount .right .form form input[type='submit'] {
    width: 100%;
    padding: 14px;
    border: none;
    background: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 991px) {
    .discount {
        flex-direction: column;
    }
}

@keyframes change-background {
    50% {
        background-image: url('../imgs/discount-background1.jpg');
    }

    100% {
        background-image: url('../imgs/discount-background2.jpg');
    }
}

/* end discount */
/* start footer */
.footer {
    padding-top: calc(var(--padding-section));
    padding-bottom: calc(var(--padding-section) / 2);
    background-color: #191919;
}

.footer .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    border-bottom: 1px solid #444444;
    padding-bottom: 30px;
}

.footer .footer-content .person {
    color: white;
    color: #b9b9b9;
}

.footer .footer-content .person i {
    background-color: #313131;
    color: #b9b9b9;
    padding: 11px;
    /*margin-left: 10px;
    */
    transition: var(--trans-duration);
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

.footer .footer-content .person i:hover {
    background-color: var(--main-color);
}

.footer .footer-content .person h1 {
    color: white;
    margin-top: 0;
}

.footer .footer-content .person .social {
    font-size: 22px;
}

.footer .footer-content .person .text {
    padding: 20px 0;
    line-height: 2;
}

.footer .footer-content .import-links ul {}

.footer .footer-content .import-links ul li:not(:last-child) {
    border-bottom: 1px solid #444444;
}

.footer .footer-content .import-links ul li a {
    font-size: 17px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 17px;
    /* border-bottom: 1px solid #444444; */
    color: white;
    padding-left: 30px;
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.footer .footer-content .import-links ul li {
    transition: var(--trans-duration);
    -webkit-transition: var(--trans-duration);
    -moz-transition: var(--trans-duration);
    -ms-transition: var(--trans-duration);
    -o-transition: var(--trans-duration);
}

.footer .footer-content .import-links ul li:hover {
    padding-left: 10px;
}

.footer .footer-content .import-links ul li a::before {
    font-family: 'Font Awesome 5 Free';
    content: '\F101';
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: var(--main-color);
}

.footer .footer-content .info-loc .row {
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
    margin-bottom: 25px;
}

.footer .footer-content .info-loc .row i {
    font-size: 25px;
    color: var(--main-color);
}

.footer .footer-content .info-loc .row p {
    color: #b9b9b9;
    line-height: 2;
}

.footer .footer-content .info-loc .row p span {
    display: block;
}

.footer .footer-content .min-gallary img {
    border: 3px solid white;
    margin: 2px;
    width: 78px;
}

.footer .container>p {
    padding-top: 30px;
    color: white;
    text-align: center;
}

@media (max-width: 767px) {
    .footer .footer-content {
        text-align: center;
    }
}

/* end footer */